.mini-logo {
 width: 80px;
 /* 指定行内元素的垂直对齐方式 */
 vertical-align: bottom;
}

body {
    background-color: #eeeeee;
}

.box {
    width: 2000px;
    height: 1000px;
    background-color: antiquewhite;
    background-image: url("./images/01.png");
    background-repeat: repeat-y;
    background-position: top;
    background-size: 10% 10%;
}