body {
    background-color: #2a3950;
}

.des {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.strong {
    display: none;
    color: red;
    border: 1px solid yellow;
    padding: 10px;
    margin: 20px;
    background-color: antiquewhite;
    width: 150px;
    height: 80px;
}