.title {
    text-align: center;
}

.section-title {
    font-size: 20px;
    padding-bottom: 5px;
    margin-left: 10px;
    color: #258Bd6;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.des {
    font-size: 17px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 26px;

}

.num {
    color: red;
}

.triangle {
    width: 0;
    border: 20px solid;
    border-color: #f30 transparent transparent;
}

.icon {
    background-color: antiquewhite;
    width: 15px;
    height: 15px;
    border: 11px solid transparent;
}